
ul{
  width: 100%;
}

.story {
  width: 100%;
  height: 420px;
  background-size: cover;
  background-position: center;
}

.list{
  position: relative;
  overflow: hidden;

  @include stretch{
    width: 50%;
    display: inline-block;
  }

  @include desktop{
    width: 25%;
  }
}

.description{
  width: 100%;
  color: $prime-color;
  position: absolute;
  line-height: 30px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.65);
  bottom: -35%;
  height: 35%;
  transition: bottom 0.40s ease-in-out 0s;
  padding: 0 5px;
  box-sizing: border-box;

  @include stretch{
    width: 100%;
  }
}

.list:hover{
  .description{
  bottom: 0;
  }
}