.footer_text{
  color: $second-color;

  span{
    text-transform: uppercase;
  }

  @include desktop{
    text-align: left;
    padding-left: 50px;
  }
}

.footer_2nd-position{
  margin-bottom: 50px;
  margin-top: 30px;
  color: $second-color;

  @include desktop{
    text-align: left;
    padding-left: 50px;
  }
}