html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*                        end of reset                        */

body{
  background-color: black;
  height: 100vh;
}

.container{
  width: 100%;
  text-align: center; 
  height: 100%; 
  font-size: 16px;
}

header{
  height: 670px;
  transition: all 1.0s ease 0.1s
}

.header11{
  height: 300px;
  background-color: black;
}

/*              main styles              */

.logo{
  padding-top: 180px;
  height: 300px;
  transition: all 1.0s ease 0.1s
}

.nyt{
  height: 150px;
  padding-top: 35px;
}

header p{
  color: #ffffff;
  margin: 15px 0;
}

.selector{
  width: 140px;
  height: 30px;
}

ul{
  width: 100%;
}

.story {
  width: 100%;
  height: 420px;
  background-size: cover;
  background-position: center;
}

.list{
  position: relative;
}

.description{
  width: 100%;
  color: white;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
  bottom: -35%;
  height: 35%;
  transition: bottom 0.40s ease-in-out 0s;
}

.list:hover{
  .description{
  bottom:0;
  }
}

/*             selection style             */

.footext{
  color: #c2c2c2;
}

.footer2{
  margin-bottom: 50px;
  margin-top: 30px;
  color: #c2c2c2;
}

span{
  text-transform: uppercase;
}

/*                 footer style                */

// 1st breakpoint on 480
// 2nd 600
// 3rd 1000

@media only screen and (min-width:480px){


}