{
  "extends": "eslint:recommended",
  "rules": {
  "no-alert": 2,
  "camelcase": 1,
  "curly": 1,
  "eqeqeq": 1,
  "no-console": 2,
  "guard-for-in": 1,
  "no-empty": 1,
  "no-param-reassign": 1,
  "no-unused-vars": 1,
  "quotes": [ 1, "single"]
  },

  "globals": {
  "jQuery": false,
  "$": false
  },

  "env": {
    "browser": true
  }
}